1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla
va

In [2]:
var1 = 12
print (var1)

12

2) Imprimir el tipo de dato de la constante 8.5

In [3]:
type(8.5)

float

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [9]:
print(type (var1))

<class 'int'>

4) Crear una variable que contenga tu nombre

In [21]:
var4 = 'Karla'

5) Crear una variable que contenga un número complejo

In [22]:
var5 = (1+3j)

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [23]:
type (var5)

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [24]:
var7= 3.1416820303
var7= round(pi,4)
print (var7)

3.1417

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [25]:
var8str = 'True'
var8bool = True

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 9

In [26]:
print(type(var8str))
print(type(var8bool))

<class 'str'>
<class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [15]:
var10=1+3.5

11) Realizar una operación de suma de números complejos

In [17]:
var11c1 = 4 + 3j
var11c2 = 8 + 2j
var11 = var11c1 + var11c2
print (var11)

(12+5j)

12) Realizar una operación de suma de un número real y otro complejo

In [18]:
var12c = (3+2j)
var12r = 4
var12 = var12c + var12r
print(var12)

(7+2j)

13) Realizar una operación de multiplicación

In [20]:
var13 = 3*2

14) Mostrar el resultado de elevar 2 a la octava potencia

In [28]:
var14 = 2**8
print (var14)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [30]:
var15 = 27/4
print (var15)

6.75

16) De la división anterior solamente mostrar la parte entera

In [31]:
var16 = 27//4
print (var16)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [32]:
var17 = 27%4
print (var17)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [33]:
var18= ((4*var16) + var17)
print (var18)

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [49]:
var19= 'hola'+ ' ' + 'Karla'
print (var19)

hola Karla

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [36]:
var20str = '2'
var20int = 2
print ((type(var20str)) == (type(var20int)))

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [38]:
print ((type(int(var20str))) == (type(var20int)))

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [41]:
a = float('3.8')

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [43]:
var24 = 1<<2
print (var24)

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [47]:
var25= '2' + '2'
print (var25)
var25b= 2 + 2
print (var25b)

22
4

26) Realizar una operación válida entre valores de tipo entero y string